<p>Probando mi componente creado en lit-element!</p>
<div class="menu">
  <navigation-bar
    (on-select-item)="onSelectedItem($event)"
    [attr.items]="items"
  ></navigation-bar>
  <div class="menu-body" [ngSwitch]="selectedOption">
    <div *ngSwitchCase="0">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo nam alias,
      cum reiciendis, repudiandae facere quas sit explicabo, vel quae officia
      odio? Exercitationem commodi magni obcaecati perspiciatis accusamus sint
      blanditiis?
    </div>
    <div *ngSwitchCase="1">
      repudiandae facere quas sit explicabo, vel quae officia odio?
      Exercitationem commodi magni obcaecati perspiciatis accusamus sint
      blaoluta, dolorem, fugit id exercitationem eum molestiae porro corporis!
      Consectetur, sit.
    </div>
    <div *ngSwitchCase="2">
      Lorem, i repudiandae facere quas sit explicabo, vel quae officia odio?
      Exercitationem commodi magni obcaecati perspiciatis accusamus sint
      blanditiis?
    </div>
    <div *ngSwitchCase="3">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo nam alias,
      cum r Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
      quam tempore. Est expedita dolores deleniti soluta cupiditate debitis
      culpa asperiores, praesentium, tenetur hic magni rerum, impedit reiciendis
      a dolorem quo?
    </div>
    <div *ngSwitchCase="4">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo nam alias,
      citationem commodi magni obcaecati perspiciatis accusamus sint blanditiis?
    </div>
  </div>
</div>

Con muchas opciones
<div>
  <navigation-bar
    [attr.items]="items2"
  ></navigation-bar>

</div>
